#main{
  font-size: 1.2em;
  color:white;
  border: 1px dashed #666;
  min-height: 700px;
  padding: 20px;
  line-height: 50px;
  float:left

}
#main p{
  font-size:1.5em;
  color: #8B6914;
  line-height: 50px;
}
.container {
  width: 920px;
  
  padding: 10px;
}
#menu1 {
  width: 480px;
  height: 550px;
  float: left;
  border-right-style: solid;
  border-right-width: 1
}
#sidebar {
  width: 420px;
  height: 150px;
 
  
  float: right;
 }

/*
#menu ul {
  list-style-type: none;
  background: green;
  text-align:center;
}

#menu1 ul li {
  color: white;
  display: inline-table;
  width: 130px;
  height: 40px;
  line-height: 30px;
  position: relative;
  font-size: 1em;
}

#menu1 ul li a {
  color: white;
  text-decoration: none;
  display: block;
}

#menu1 ul li a:hover {
  background: #f1f1f1;
  color: #666;
}

#menu1 ul li > .sub {
  display: none;
  position: absolute;
}

#menu1 ul li:hover .sub {
  display: block;
} */
#menu1 ul {

  width: 250px;
  padding: 0;
  list-style-type: none;
  text-align: left;
 }
 #menu1 li {
  width: auto;
  height: 40px;
  line-height: 40px;
  
  padding: 0 1em;
 }
 #menu1 li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: block;
 }
 #menu1 li:hover {
  background: #666;
 }
 #menu1 ul li {
  position: relative;
 }
 #menu1 .sub {
  position: absolute;
  left: 250px;
  top: 0;
  display: none;
 }

 #menu1 li:hover .sub {
  display: block;
 }
 #vote li {
  color: #f1f1f1;
  display: inline-block;
  padding: 35;
  line-height: 40px;
  margin-left: -5px;
  text-decoration:none;
}
 #vote a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#vote a:hover {

  color: #333;
  text-decoration:none;
}

#vote li ul{
  color:white;
  
}
.movie_list{
  
 
  text-decoration:none;
  overflow: auto;
  height: 400px;
  color:white;
}
.movie_list li a{
  color:white;
  text-decoration:none;
}


